---
layout: default
---
<div class="post">
    {% if page.reading_time %}
    <p class="post-reading-time">&#126;
        {% capture words %}
          {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains "-" %}
          {{ words | plus: 180 | divided_by: 180 | append: " min" }}
        {% endunless %}
    </p>
    {% endif %}

    <header class="post-header">
        {% if page.thumb %}
        <img src="{{ page.thumb }}" alt="{{ page.title }}" class="post-thumb" />
        {% endif %}

        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    <footer class="post-meta">
        {% if page.date %}
        <div class="meta">
            <h3 class="meta-title">Date</h3>
            <span class="meta-content">{{ page.date | date: "%B %-d, %Y" }}</span>
        </div>
        {% endif %}
        {% if page.author %}
        <div class="meta">
            <h3 class="meta-title">Author</h3>
            <span class="meta-content">{{ page.author.display_name }}</span>
        </div>
        {% endif %}
        {% if page.show_categories && page.categories.any? %}
        <div class="meta">
            <h3 class="meta-title">Categories</h3>
            <span class="meta-content">
                {% for category in page.categories %}
                    {{ category | capitalize }}&nbsp;
                {% endfor %}
            </span>
        </div>
        {% endif %}
        {% if page.show_tags %}
          {% if page.tags != site.array %}
          <div class="meta">
              <h3 class="meta-title">Tags</h3>
              <span class="meta-content">
                  {% for tag in page.tags %}
                    <a href="/tag/{{ tag }}">{{ tag }}</a>&nbsp;
                  {% endfor %}
              </span>
          </div>
        {% endif %}
        {% endif %}
    </footer>

    {% include share.html %}

</div>
